.Home {
    padding: 4%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.Main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Ride {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 10%;
    align-items: center;
    flex-direction: column;
}
.Station {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Raw {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Target {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
